/* App.css */
@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: #e7e1d3;
  color: #51443f;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.app-title {
  font-family: "Baloo 2";
  font-weight: 900;
  font-size: 2.5rem; /* Adjust size as needed */
  color: #63b389; /* Example color (bruin) */
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  color: #63b389;
}

input[type="file"] {
  display: none;
}

label {
  display: inline-block;
  background-color: #63b389;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

label:hover {
  background-color: #51443f;
}

img {
  border-radius: 10px;
  margin-bottom: 20px;
  max-width: 100%;
  height: auto;
}

p {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
  color: #51443f;
}

.photo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items horizontally */
  gap: 10px; /* Add some space between the elements */
}

img {
  border-radius: 10px;
  max-width: 300px; /* Limit width */
  max-height: 300px; /* Limit height */
  height: auto;
  width: auto;
}

.remove-photo {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #51443f;
  color: white;
  border: none;
  border-radius: 10%;
  margin-right: 5px;
  width: 25px;
  height: 25px;
  font-size: 18px;
  text-align: center;
  line-height: 25px;
  cursor: pointer;
}

.remove-photo:hover {
  background-color: #302825;
}

.predict-button {
  font-family: "Poppins", sans-serif;
  background-color: #63b389;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin-top: 10px;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.predict-button:hover {
  background-color: #51443f;
}

.orange-text {
  font-weight: 900;
  color: #f9ba4d;
}

.brown-text {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: lighter;
  font-size: medium;
  color: #302825;
}
